<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/output.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
  <title>Instagram Engagement Calculator</title>
</head>

<body class="bg-[#F8F9FA] min-h-screen flex flex-col items-center justify-center font-text">

  <nav class="bg-white shadow-sm w-full fixed top-0 left-0 z-50">
    <div class="py-4 mx-auto container px-8 xl:px-20 flex justify-between items-center">
      <div>
        <img src="../static/img/logo_cdi.png" alt="Logo CDI" class="h-[60px] w-auto">
      </div>
      <div class="flex items-center gap-8">
        <div class="relative flex items-center gap-2">
          <span class="font-textsemibold text-primary">Hi, {{ current_user.username }}!</span>
          <div class="relative">
            <button id="user-menu-button" class="font-textsemibold text-primary hover:underline flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 9l7.5 7.5L19.5 9" />
              </svg>
            </button>
            <div id="user-menu" class="absolute right-0 mt-2 bg-white border border-gray-300 rounded-md shadow-lg w-48 hidden">
              <ul class="py-1">
                <li>
                  <a href="{{ url_for('main.logout') }}" class="block px-4 py-2 text-primary hover:bg-gray-100">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>    

  <div class="w-full max-w-4xl px-4 pt-20">
    <h1 class="font-title mb-4 text-primary">Instagram Engagement Calculator</h1>
    <p class="font-text mb-6 text-primary">Calculate your Instagram engagement rate easily</p>
    
    <div class="flex mb-1">
      <form action="{{ url_for('main.index') }}" method="POST" class="flex w-full max-w-md space-x-2" onsubmit="return validateForm()">
        <input type="text" name="username" placeholder="Type Instagram username here" class="font-text px-4 py-2 bg-white w-full text-primary border-2 border-primary-variant rounded-md focus:outline-none focus:ring-2 focus:ring-[#4C347F] transition duration-300 ease-in-out" required>
        <button type="submit" class="button-primary">Search</button>
      </form>
    </div>
    
    <p class="font-textun mb-8 mt-1 text-pretty">example: @campusdigital.id</p>
    <p id="loading-message" class="font-textun mb-8 mt-1 text-primary hidden">Please wait...</p>
    
    {% if error_message %}
    <div class="text-center bg-red-100 border border-red-300 px-4 py-2 rounded-md shadow-md mb-8 mt-8">
      <p class="font-textsemibold text-red-800">{{ error_message }}</p>
    </div>
    {% endif %}
    
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-8">
      <div class="card flex flex-col justify-center items-center">
        <div class="text-center">
          {% if engagement_data %}
          <h2 class="font-subtitle mb-2">@{{ engagement_data.username }}</h2>
          <p class="font-textbold text-primary mb-2">{{ engagement_data.full_name }}</p>
          <p class="font-text mb-2">Engagement Rate</p>
          <p class="text-3xl font-bold text-yellow-500">{{ engagement_data.engagement }}%</p>
          {% else %}
          <h2 class="font-subtitle mb-2">@username</h2>
          <p class="font-textbold text-primary mb-2">Name</p>
          <p class="font-text mb-2">Engagement Rate</p>
          <p class="text-3xl font-bold text-yellow-500">0%</p>
          {% endif %}
        </div>
      </div>
      
      <div class="md:col-span-2 card">
        <div class="grid grid-cols-2 gap-4 text-center">
          <div>
            <div class="flex items-start mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
              </svg>
              <div class="ml-2 text-left">
                <p class="font-textsemibold  text-primary">Total Followers</p>
                <p class="font-subtitle text-yellow-500">
                  {% if engagement_data %}
                  {{ engagement_data.followers }}
                  {% else %}
                  0
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="flex items-start mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
              </svg>
              <div class="ml-2 text-left">
                <p class="font-textsemibold  text-primary">Total Posts</p>
                <p class="font-subtitle text-yellow-500">
                  {% if engagement_data %}
                  {{ engagement_data.total_posts }}
                  {% else %}
                  0
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="flex items-start mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
              </svg>
              <div class="ml-2 text-left">
                <p class="font-textsemibold  text-primary">Total Likes</p>
                <p class="font-subtitle text-yellow-500">
                  {% if engagement_data %}
                  {{ engagement_data.total_likes }}
                  {% else %}
                  0
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="flex items-start mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
              </svg>
              <div class="ml-2 text-left">
                <p class="font-textsemibold  text-primary">Average Likes per Post</p>
                <p class="font-subtitle text-yellow-500">
                  {% if engagement_data %}
                  {{ engagement_data.avg_likes_per_post }}
                  {% else %}
                  0
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="flex items-start mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" />
              </svg>
              <div class="ml-2 text-left">
                <p class="font-textsemibold text-primary">Total Comments</p>
                <p class="font-subtitle text-yellow-500">
                  {% if engagement_data %}
                  {{ engagement_data.total_comments }}
                  {% else %}
                  0
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="flex items-start mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" />
              </svg>
              <div class="ml-2 text-left">
                <p class="font-textsemibold text-primary">Average Comments per Post</p>
                <p class="font-subtitle text-yellow-500">
                  {% if engagement_data %}
                  {{ engagement_data.avg_comments_per_post }}
                  {% else %}
                  0
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>

    <script src="../static/js/main.js"></script>
</body>
</html>
