<!doctype html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/output.css" rel="stylesheet">
  <title>Instagram Engagement Calculator</title>
</head>

<body class="flex flex-col min-h-screen">

  <nav class="bg-white shadow-sm w-full sticky">
    <div class="py-4 mt-0 mx-auto container px-8 xl:px-20 flex justify-between items-center">
      <!-- Logo Placeholder -->
      <div>
        <img src="../static/img/logo_cdi.png" alt="Logo CDI" class="h-[60px] w-auto">
      </div>
      <!-- Navigation Links -->
      <div class="flex items-center gap-8">
        <a href="{{ url_for('main.index') }}" class="font-textsemibold text-primary hover:underline">Masuk</a>
        <a href="{{ url_for('main.index') }}" class="button-primary">Daftar</a>
      </div>
    </div>
  </nav>

  <!-- Hero Section -->
  <div class="flex-grow flex flex-col gap-2 h-[560px] justify-center items-center text-center bg-[url('https://campusdigital.id/assets/images/background/pattern.svg')] bg-right bg-contain">
    <h1 class="font-highlight">Instagram <span class="text-secondary">Engagement Rate</span> <br>Calculator!</h1>
    <p class="font-text mb-4">Tingkatkan Strategi Sosial Media <br>Anda dengan Mudah!</p>
    <div class="flex gap-2"> 
      <a class="button-primary py-3 group" href="{{ url_for('main.index') }}" >
        Get Started 
          
      </a>
      <a class="button-secondary py-3" href="#how-it-works">How it Works ?</a>
    </div>
  </div>

  <!-- Features Section -->
  <section id="features" class="py-4 bg-surface">
      <div class="py-6 mt-0 md:py-0 md:-mt-20 container px-8 xl:px-20 mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="card">
          <div class="h-1 w-10 mb-4 bg-secondary"></div>
          <h3 class="font-subtitle mb-2">Analisis Mendalam</h3>
          <p class="text-gray-700">Dapatkan wawasan mendalam tentang performa akun Instagram Anda dengan metrik yang akurat.</p>
        </div>
        <div class="card">
          <div class="h-1 w-10 mb-4 bg-secondary"></div>
          <h3 class="font-subtitle mb-2">Mudah Digunakan</h3>
          <p class="text-gray-700">Interface yang user-friendly memudahkan Anda untuk memulai analisis hanya dalam hitungan detik.</p>
        </div>
        <div class="card">
          <div class="h-1 w-10 mb-4 bg-secondary"></div>
          <h3 class="font-subtitle mb-2">Kecepatan & Efisiensi</h3>
          <p class="text-gray-700">Dapatkan hasil analisis dengan cepat tanpa mengorbankan akurasi dan ketelitian data.</p>
        </div>
      </div>
  </section>

  <!-- How it Works -->
  <section id="how-it-works" class="py-8 md:py-16 bg-surface">
    <div class="py-4 mt-0 mx-auto container ps-8 px-8 xl:px-20  flex flex-col md:flex-row gap-16 items-start">
        <div class= "w-full pe-8 md:pe-0 space-y-6 md:w-[240px] md:space-y-8 text-center md:text-left"> 
          <h2 class="font-highlight">How it Works!</h2>
          <p> Tingkatkan strategi sosial media Anda dengan mudah dan efektif! Maksimalkan setiap postingan untuk meningkatkan interaksi dan mencapai tujuan pemasaran Anda. </p>
        </div>
        <div class="md:flex-1 w-full flex justify-start gap-4 overflow-x-scroll xl:overflow-hidden"> 
          <!-- Card 1 -->
        <div class=" card2 flex flex-col gap-4">
          <h3 class="text-5xl font-medium tracking-wide text-secondary leading-tight ">01</h3>
          <h3 class="font-subtitle">Masukkan Username</h3>  
          <p class="font-text mb-4">Ketikkan nama pengguna Instagram yang ingin Anda analisis untuk memulai perhitungan.</p>
          <a class="button-secondary py-3 w-fit" href="{{ url_for('main.index') }}" >Get Started</a>
        </div>
        <!-- Card 2 -->
        <div class="card2 flex flex-col gap-4">
          <h3 class="text-5xl font-medium tracking-wide text-secondary leading-tight ">02</h3>
          <h3 class="font-subtitle">Hitung Engagement</h3>
          <p class="font-text">Kalkulator kami akan mengambil data dan menghitung tingkat engagement dengan cepat dan akurat.</p>
          
        </div>
        <!-- Card 3 -->
        <div class="card2 flex flex-col gap-4">
          <h3 class="text-5xl font-medium tracking-wide text-secondary leading-tight ">03</h3>
          <h3 class="font-subtitle">Tinjau Hasil</h3>
          <p class="font-text">Analisis hasil yang ditampilkan untuk memahami performa akun dan optimalkan strategi konten sosial media Anda.</p>
        </div>
        </div>
    </div>
  </section>

  
  <!-- Footer Section -->
  <footer class="bg-white py-4">
    <div class="max-w-7xl mx-auto px-4 text-center">
      <p class="text-gray-600">© 2024 Instagram Engagement Calculator. All rights reserved.</p>
    </div>
  </footer>

  <script src="../static/js/"></script>
</body>
</html>
