<!doctype html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/output.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
  <title>Instagram Engagement Calculator</title>
</head>
<body class="bg-[#F8F9FA] flex flex-col min-h-screen font-segoe">

  <nav class="bg-white shadow-md w-full fixed top-0 z-50">
    <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
      <div>
        <img src="../static/img/logo_cdi.png" alt="Logo CDI" class="h-10 w-auto">
      </div>
      <div class="flex items-center space-x-8">
        <a href="{{ url_for('main.index') }}" class="bg-[#E1C7FD] text-[#340369] rounded-[10px] px-5 py-3 shadow-sm font-bold transition-colors duration-300 hover:bg-[#340369] hover:text-white">Get Started</a>
      </div>
    </div>
  </nav>

  <div class="flex-grow flex items-center justify-center text-center px-6 mt-16 h-screen bg-[url('https://campusdigital.id/assets/images/background/pattern.svg')] bg-contain bg-center">
    <div>
      <h1 class="text-5xl sm:text-3xl md:text-4xl lg:text-5xl font-bold text-black mb-4">Instagram <span class="text-yellow-500">Engagement Rate</span> <br>Calculator!</h1>
      <p class="text-lg sm:text-xl md:text-2xl lg:text-3xl text-black mb-8">Tingkatkan Strategi Sosial Media Anda dengan Mudah</p>
      <a href="{{ url_for('main.index') }}" class="bg-[#E1C7FD] text-[#340369] rounded-[10px] px-5 py-3 shadow-sm font-bold transition-colors duration-300 hover:bg-[#340369] hover:text-white">Get Started</a>
      <a href="#how-it-works" class="border border-[#340369] text-[#340369] rounded-[10px] px-5 py-3 font-bold transition-colors duration-300 hover:bg-[#340369] hover:text-white">How it works</a>
    </div>
  </div>

  <!-- Features and other sections -->

  <footer class="bg-white py-4">
    <div class="max-w-7xl mx-auto px-4 text-center">
      <p class="text-gray-600">© 2024 Instagram Engagement Calculator. All rights reserved.</p>
    </div>
  </footer>

  <script src="../static/js/"></script>
</body>
</html>
